#localbus signals
NET LED0                  LOC= C17  ;		IOB: TOP, 50, [1]
NET LED1                  LOC= C18  ;		IOB: TOP, 45, [2]
NET L_CLK                 LOC= D17  ;		GCLK2
NET L_RESET_N             LOC= AE33 ;		IOB: LEFT, 14, [2]
NET L_ADS_N               LOC= AF32 ;		IOB: LEFT, 11, [1]
NET L_BE_N<0>            LOC= AF2 ;		IOB: RIGHT, 11, [1]
NET L_BE_N<1>            LOC= AL6 ;		IOB: BOTTOM, 86, [1]
NET L_BE_N<2>            LOC= AK6 ;		IOB: BOTTOM, 92, [2]
NET L_BE_N<3>            LOC= AJ6 ;		IOB: BOTTOM, 95, [2]
NET L_BLAST_N             LOC= AG30 ;		IOB: LEFT, 4, [2]
NET L_WR_N                LOC= AG29 ;		IOB: LEFT, 3, [2]
NET L_WAIT_N              LOC= AH29 ;		IOB: LEFT, 0, [3]
NET L_READY_N             LOC= AG33 ;		IOB: LEFT, 9, [1]
NET L_CS_N                LOC= AF31 ;		IOB: LEFT, 10, [2]
NET L_ADR<2>              LOC= U29  ;		IOB: LEFT, 31, [1]
NET L_ADR<3>              LOC= U33  ;		IOB: LEFT, 30, [3]
NET L_ADR<4>              LOC= V29  ;		IOB: LEFT, 28, [3]
NET L_ADR<5>              LOC= V30  ;		IOB: LEFT, 27, [1]
NET L_ADR<6>              LOC= V31  ;		IOB: LEFT, 28, [2]
NET L_ADR<7>              LOC= V32  ;		IOB: LEFT, 29, [1]
NET L_ADR<8>              LOC= W29  ;		IOB: LEFT, 24, [2]
NET L_ADR<9>              LOC= W30  ;		IOB: LEFT, 25, [1]
NET L_ADR<10>             LOC= W31  ;		IOB: LEFT, 26, [3]
NET L_ADR<11>             LOC= W33 ;		IOB: LEFT, 27, [2]
NET L_ADR<12>             LOC= Y29 ;		IOB: LEFT, 22, [3]
NET L_ADR<13>             LOC= Y30 ;		IOB: LEFT, 23, [1]
NET L_ADR<14>             LOC= Y32 ;		IOB: LEFT, 24, [3]
NET L_ADR<15>             LOC= AA29 ;		IOB: LEFT, 19, [1]
NET L_ADR<16>             LOC= AA30 ;		IOB: LEFT, 20, [3]
NET L_ADR<17>             LOC= AA31 ;		IOB: LEFT, 20, [2]
NET L_ADR<18>             LOC= AA32 ;		IOB: LEFT, 21, [1]
NET L_ADR<19>             LOC= AA33 ;		IOB: LEFT, 23, [2]
NET L_ADR<20>             LOC= AB29 ;		IOB: LEFT, 16, [3]
NET L_ADR<21>             LOC= AB30 ;		IOB: LEFT, 18, [3]
NET L_ADR<22>             LOC= AB31 ;		IOB: LEFT, 19, [2]
NET L_ADR<23>             LOC= AC29 ;		IOB: LEFT, 14, [3]
NET L_ADR<24>             LOC= AC30 ;		IOB: LEFT, 15, [1]
NET L_ADR<25>             LOC= AC31 ;		IOB: LEFT, 16, [2]
NET L_ADR<26>             LOC= AC33 ;		IOB: LEFT, 17, [1]
NET L_ADR<27>             LOC= AD29 ;		IOB: LEFT, 11, [2]
NET L_ADR<28>             LOC= AD30 ;		IOB: LEFT, 12, [2]
NET L_ADR<29>             LOC= AD31 ;		IOB: LEFT, 15, [2]
NET L_ADR<30>             LOC= AE29 ;		IOB: LEFT, 8, [3]
NET L_ADR<31>             LOC= AE30 ;		IOB: LEFT, 10, [3]

NET L_DATA<0>              LOC= T5   ;		IOB: RIGHT, 34, [3]
NET L_DATA<1>              LOC= U3   ;		IOB: RIGHT, 32, [3]
NET L_DATA<2>              LOC= U1   ;		IOB: RIGHT, 30, [3]
NET L_DATA<3>              LOC= U2   ;		IOB: RIGHT, 29, [1]
NET L_DATA<4>              LOC= U4   ;		IOB: RIGHT, 31, [1]
NET L_DATA<5>              LOC= V2   ;		IOB: RIGHT, 28, [2]
NET L_DATA<6>              LOC= V3   ;		IOB: RIGHT, 27, [2]
NET L_DATA<7>              LOC= V4   ;		IOB: RIGHT, 28, [3]
NET L_DATA<8>              LOC= V5   ;		IOB: RIGHT, 27, [1]
NET L_DATA<9>              LOC= W1   ;		IOB: RIGHT, 26, [3]
NET L_DATA<10>             LOC= W3   ;		IOB: RIGHT, 25, [1]
NET L_DATA<11>             LOC= W5   ;		IOB: RIGHT, 24, [3]
NET L_DATA<12>             LOC= Y3   ;		IOB: RIGHT, 23, [1]
NET L_DATA<13>             LOC= Y4   ;		IOB: RIGHT, 23, [2]
NET L_DATA<14>             LOC= Y5   ;		IOB: RIGHT, 21, [1]
NET L_DATA<15>             LOC= AA1  ;		IOB: RIGHT, 22, [3]
NET L_DATA<16>             LOC= AA3  ;		IOB: RIGHT, 20, [2]
NET L_DATA<17>             LOC= AA4  ;		IOB: RIGHT, 20, [3]
NET L_DATA<18>             LOC= AA5  ;		IOB: RIGHT, 19, [2]
NET L_DATA<19>             LOC= AB3  ;		IOB: RIGHT, 19, [1]
NET L_DATA<20>             LOC= AB4  ;		IOB: RIGHT, 17, [1]
NET L_DATA<21>             LOC= AC1  ;		IOB: RIGHT, 18, [3]
NET L_DATA<22>             LOC= AC3  ;		IOB: RIGHT, 16, [2]
NET L_DATA<23>             LOC= AC5  ;		IOB: RIGHT, 14, [3]
NET L_DATA<24>             LOC= AD3  ;		IOB: RIGHT, 15, [2]
NET L_DATA<25>             LOC= AD4  ;		IOB: RIGHT, 12, [2]
NET L_DATA<26>             LOC= AD5  ;		IOB: RIGHT, 11, [2]
NET L_DATA<27>             LOC= AE1  ;		IOB: RIGHT, 14, [2]
NET L_DATA<28>             LOC= AE3  ;		IOB: RIGHT, 13, [1]
NET L_DATA<29>             LOC= AE4  ;		IOB: RIGHT, 10, [3]
NET L_DATA<30>             LOC= AE5  ;		IOB: RIGHT, 8, [3]
NET L_DATA<31>             LOC= AF1  ;		IOB: RIGHT, 12, [3]


#broadcast bus
NET SA0_BROAD0        LOC= AK7  ;	IOB: BOTTOM, 87, [2]	
NET SA1_BROAD1        LOC= AJ7  ;	IOB: BOTTOM, 90, [2]
NET SA2_BROAD2        LOC= AJ8  ;	IOB: BOTTOM, 86, [2]
NET SA3_BROAD3        LOC= AL12 ;	IOB: BOTTOM, 66, [1]
NET SA4_BROAD4        LOC= AK12 ;	IOB: BOTTOM, 68, [1]
NET SA5_BROAD5        LOC= AJ12 ;	IOB: BOTTOM, 71, [2]
NET SA6_BROAD6        LOC= AL13 ;	IOB: BOTTOM, 65, [2]
NET SA7_BROAD7        LOC= AK13 ;	IOB: BOTTOM, 65, [1]	* IO_VREF_4
NET SA8_BROAD8        LOC= AK14 ;	IOB: BOTTOM, 60, [2]
NET SA9_BROAD9        LOC= AJ14 ;	IOB: BOTTOM, 60, [1]
NET SA10_BROAD10      LOC= AL15 ;	IOB: BOTTOM, 54, [1]
NET SA11_BROAD11      LOC= AK15 ;	IOB: BOTTOM, 56, [1]
NET SA12_BROAD12      LOC= AJ15 ;	IOB: BOTTOM, 57, [2]
NET SA13_BROAD13      LOC= AM16 ;	IOB: BOTTOM, 54, [2]
NET SA14_BROAD14      LOC= AL16 ;	IOB: BOTTOM, 53, [1]	* IO_VREF_4
NET SA15_BROAD15      LOC= AK16 ;	IOB: BOTTOM, 51, [2]
NET SA16_BROAD16      LOC= AJ16 ;	IOB: BOTTOM, 53, [1]

NET SD0_BROAD17       LOC= AM17 ;	IOB: BOTTOM, 48, [1]
NET SD1_BROAD18       LOC= AM18 ;	IOB: BOTTOM, 45, [2]
NET SD2_BROAD19       LOC= AK18 ;	IOB: BOTTOM, 42, [1]
NET SD3_BROAD20       LOC= AJ18 ;	IOB: BOTTOM, 42, [2]	* IO_VREF_5
NET SD4_BROAD21       LOC= AL19 ;	IOB: BOTTOM, 41, [2]
NET SD5_BROAD22       LOC= AK19 ;	IOB: BOTTOM, 39, [2]
NET SD6_BROAD23       LOC= AJ19 ;	IOB: BOTTOM, 36, [1]
NET SD7_BROAD24       LOC= AL20 ;	IOB: BOTTOM, 36, [2]	* IO_VREF_5
NET SD8_BROAD25       LOC= AJ20 ;	IOB: BOTTOM, 33, [2]
NET SD9_BROAD26       LOC= AL21 ;	IOB: BOTTOM, 35, [2]
NET SD10_BROAD27      LOC= AK21 ;	IOB: BOTTOM, 30, [1]
NET SD11_BROAD28      LOC= AJ21 ;	IOB: BOTTOM, 29, [1]
NET SD12_BROAD29      LOC= AK22 ;	IOB: BOTTOM, 27, [2]
NET SD13_BROAD30      LOC= AJ22 ;	IOB: BOTTOM, 24, [2]
NET SD14_BROAD31      LOC= AN23 ;	IOB: BOTTOM, 30, [2]	* IO_VREF_5
NET SD15_BROAD32      LOC= AL23 ;	IOB: BOTTOM, 24, [1]
NET SD16_BROAD33      LOC= AK23 ;	IOB: BOTTOM, 23, [1]
NET SD17_BROAD34      LOC= AJ23 ;	IOB: BOTTOM, 21, [2]
NET SD18_BROAD35      LOC= AL24 ;	IOB: BOTTOM, 23, [2]	* IO_VREF_5
NET SD19_BROAD36      LOC= AK24 ;	IOB: BOTTOM, 18, [1]
NET SD20_BROAD37      LOC= AJ24 ;	IOB: BOTTOM, 17, [2]
NET SD21_BROAD38      LOC= AL25 ;	IOB: BOTTOM, 20, [1]
NET SD22_BROAD39      LOC= AK25 ;	IOB: BOTTOM, 15, [2]
NET SD23_BROAD40      LOC= AJ25 ;	IOB: BOTTOM, 12, [2]	* IO_VREF_5
NET SD24_BROAD41      LOC= AK26 ;	IOB: BOTTOM, 11, [1]
NET SD25_BROAD42      LOC= AJ26 ;	IOB: BOTTOM, 9, [2]
NET SD26_BROAD43      LOC= AK27 ;	IOB: BOTTOM, 6, [1]
NET SD27_BROAD44      LOC= AJ27 ;	IOB: BOTTOM, 5, [2]
NET SD28_BROAD45      LOC= AK28 ;	IOB: BOTTOM, 3, [2]	* IO_VREF_5
NET SD29_BROAD46      LOC= AE31 ;	IOB: LEFT, 12, [3]	* IO_VREF_6
NET SD30_BROAD47      LOC= AE32 ;	IOB: LEFT, 13, [1]
NET SD31_BROAD48      LOC= AF3  ;	IOB: RIGHT, 9, [1]
NET SD32_BROAD49      LOC= AF4  ;	IOB: RIGHT, 7, [1]
NET SD33_BROAD50      LOC= AF5  ;	IOB: RIGHT, 6, [3]
NET SD34_BROAD51      LOC= AG2  ;	IOB: RIGHT, 10, [2]
NET SD35_BROAD52      LOC= AG4  ;	IOB: RIGHT, 4, [2]

NET SBE0_N_BROAD53    LOC= AG5  ;	IOB: RIGHT, 3, [2]
NET SBE1_N_BROAD54    LOC= AH4  ;	IOB: RIGHT, 2, [3]
NET SBE2_N_BROAD55    LOC= T29  ;	IOB: LEFT, 35, [2]
NET SBE3_N_BROAD56    LOC= T30  ;	IOB: LEFT, 34, [3]
NET SCLK_BROAD57      LOC= T31  ;	IOB: LEFT, 35, [1]
NET SADS_N_BROAD58    LOC= T32  ;	IOB: LEFT, 33, [1]
NET SRW_N_BRAOD59     LOC= U31  ;	IOB: LEFT, 32, [3]
NET CNTEN_N_BROAD60   LOC= U32  ;	IOB: LEFT, 32, [2]

# EHW IO

NET DUT_in0           LOC= L30  ;	IOB: LEFT, 48, [3]
NET DUT_in1           LOC= N30  ;	IOB: LEFT, 43, [2]
NET DUT_in2           LOC= P32  ;	IOB: LEFT, 39, [2]
NET DUT_in3           LOC= R33  ;	IOB: LEFT, 36, [3]

NET DUT_out0          LOC= K2   ;	IOB: RIGHT, 47, [2]
NET DUT_out1          LOC= M4   ;	IOB: RIGHT, 44, [3]
NET DUT_out2          LOC= P5   ;	IOB: RIGHT, 40, [3]
NET DUT_out3          LOC= R5   ;	IOB: RIGHT, 37, [1]



