
	NET DUT_in0		LOC= E1	;	LEFT
	NET DUT_in1		LOC= F1
	NET DUT_in2		LOC= G1
	NET DUT_in3		LOC= H2

	NET DUT_out0		LOC= M20 ;	RIGHT
	NET DUT_out1		LOC= N20
	NET DUT_out2		LOC= P20
	NET DUT_out3		LOC= R20


	NET DUB_in0		LOC= Y5 ;	BOTTOM
	NET DUB_in1		LOC= W8
	NET DUB_in2		LOC= Y13
	NET DUB_in3		LOC= W17

	NET DUB_out0		LOC= A5 ;	TOP
	NET DUB_out1		LOC= B7
	NET DUB_out2		LOC= C13
	NET DUB_out3		LOC= A16

